<!--<app-login-form></app-login-form>
<br><br>
<app-child></app-child>
<br><br>
<app-ng-for-d></app-ng-for-d>
<app-pipes></app-pipes>

-->
<!--<app-blog-post-component [title]="article.title" [content]="article.content"></app-blog-post-component>
<h1>My To-do list</h1>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>
<app-add-task (newTask)="addItem($event)"></app-add-task>-->



 
<router-outlet></router-outlet> 


<!-- <app-login-form (loginEvent)="onLogin($event)"> 
 </app-login-form> -->

 
 
